<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SuperSim</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body style="display: flexbox; margin: 0 auto; text-align: center; margin-top: 20%;">
    <h1>
        POSTGRES_DATABASE: {{ env_value }}
    </h1>
</body>

</html>